.header{
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
    border-bottom: 1px solid rgb(228, 228, 228);
    z-index: 1;
    padding-top: 3px;
    padding-bottom: 3px;

}

.left-section{
    display: flex;
    align-items: center;
}
.hamburger-menu{
    height: 20px;
    margin-left: 24px;
    margin-right: 24px;
}
.youtube-logo{
    height: 20px;
}
.middle-section{
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 470px;
}
.search-bar{
    flex: 1;
    height: 36px;
    font-size: 16px;
    padding-left: 10px;
    border: 1px solid rgb(192,192,192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0;
}
.search-bar::placeholder{
    font-size: 16px;
}
.search-button{
    height: 40px;
    width: 66px;
    border: 1px solid rgb(205, 205, 205);
    background-color: rgb(240, 240 ,240);
    margin-left: -1px;
    margin-right: 10px;
}
.search-button,
.voice-button,
.upload-container,
.notifications-container,
.current-profile,
.hamburger-menu,
.youtube-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.search-button .Tooltip,
.voice-button .Tooltip,
.upload-container .Tooltip,
.notifications-container .Tooltip{
    position: absolute;
    background-color: gray;
    color: white;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}
.search-button:hover .Tooltip,
.voice-button:hover .Tooltip,
.upload-container:hover .Tooltip,
.notifications-container:hover .Tooltip {
    opacity: 1;
}
.search-icon{
    height: 25px;
}
.voice-button{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: none;
    background-color: rgb(245,245,245);
    margin-top: 4px;
}
.voice-search-icon{
    height: 25px;
}
.right-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 180px;
    margin-right: 20px;
    flex-shrink: 0;
}
.upload-icon{
    height: 24px;
}
.youtube-apps-icon{
    height: 24px;
}
.notifications-icon{
    height: 24px;
}
.notifications-container{
    position: relative;
}
.notifications-count{
    position: absolute;
    top: -2px;
    right: -5px;
    background-color: rgb(200,0,0);
    color: white;
    font-size: 11px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
}
.current-profile{
    height: 32px;
    width: 32px;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
}
